<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <input class="input-video" type="text">
    <button class="input-button" type="button">Send</button>
    <div class="video">
      <!-- video -->
    </div>
    <script type="text/javascript">
      let uri;

      $(".input-button").click(function() {
        $(".video").html(
          '<img src="https://media.giphy.com/media/sSgvbe1m3n93G/giphy.gif">'
        );
        $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "http://104.214.54.171/send",
          dataType : "json",
          data : JSON.stringify({
            "url": $(".input-video").val()
          }),
          success : function(result) {
            uri = "data:video/mp4;base64," + result["uri"];
            $(".video").html(
              `<video src="${uri}" autoplay controls style="max-width: 100%"></video>`
            );
          }
        });
      });

      $('.input-video').keypress(function (e) {
       var key = e.which;
       if(key == 13)  // the enter key code
        {
          $('.input-button').click();
          return false;
        }
      });
    </script>
  </body>
</html>
